{block title}Přihlášení{/block}
{block content}

{*
    source: https://cssauthor.com/html5-and-css3-login-forms/
    codepen: https://codepen.io/andytran/pen/GJOBZj
*}

<div class="container">
    <div class="info">
        <h1>{$settings->title}</h1>
    </div>
</div>
<div class="form">
    <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
    <form class="login-form" n:name="form">
        <input type="text" n:name="username" placeholder="Přihlašovací jméno" autocomplete="off" />
        <input type="password" n:name="password" placeholder="Heslo" autocomplete="off" />

        <div n:foreach="$form->getOwnErrors() as $error" class="mb-3 text-center text-danger text-small">{$error}</div>

        <button>Přihlásit se</button>
        {*<p class="message">Not registered? <a href="#">Create an account</a></p>*}
    </form>
</div>
